/* CSS Document */

	body {  background-color:#ece8e5;}
	
	.header { width:1920px; height:146px; margin:0 auto; background-color:#ebe7e4; }
	.header div { width:1004px; height:146px; margin:0 auto; }
	.header div .one { width:284px; height:100px; float:left; background:url(../images/莎士丹_03.jpg) no-repeat; margin-top:28px;}
	.header div .two { width:720px; height:68px; float:right; margin-top:68px;}
	.header div .two ul .have { float:left; margin-left:20px; color:#67605b; font-size:18px;
	background:url(../images/莎士丹_top7.jpg) no-repeat right; width:82px; cursor:pointer;}
	.header div .two ul li { float:left; margin-left:20px; color:#67605b; font-size:18px;
	 width:82px; cursor:pointer;}
	 .header div .two ul li a { color:#67605b;}
	 .header div .two ul li a:hover { color:#fff;}
	/*header*/
	/*ad*/
	.ad { width:1920px; height:602px; border-top:3px solid #000000; margin:0 auto;}
	.ad div { width:1920px; height:602px; margin:0 auto;}
	.ad .one { width:1920px; height:602px; margin:0 auto;}
	/*ad*/
	/*emp_1*/
	.emp_1 { width:990px; height:9px; background-color:#fff; margin:0 auto;}
	/*emp_1*/
	/*top*/
	.top { width:990px; height:470px; margin:0 auto;}
	/*top*/
	/*emp_2*/
	.emp_2 { width:990px; height:14px; background-color:#fff; margin:0 auto;}
	/*emp_2*/
	/*center*/
	.center { width:990px; height:208px; background-color:#fff; margin:0 auto; border:1px solid #cecece;}
	.center div { width:990px; height:208px; margin:0 auto; overflow:hidden;}
	.center div .content { width:326px; height:208px; float:left; cursor:pointer; }
	.center div .content ul li img { margin:6px auto auto 13px; display:block;}/* display:block为行内元素*/
	.center div .content ul .one { margin:6px auto auto 46px; font-size:16px;}
	.center div .content ul .two { margin:5px auto auto 106px; color:#404040;}
	.center div .content ul .bottom { width:59px; height:21px; border:none; float:right; padding:0; margin:0; background-image:url(../images/莎士丹_112.jpg);}
	/*center*/
	/*emp_3*/
	.emp_3 { width:990px; height:24px; background-color:#fff; margin:0 auto;}
	/*emp_3*/
	/*emp_4*/
	.emp_4 { width:990px; height:18px; background-color:#000000; margin:0 auto;}
	/*emp_4*/
	/*list*/
	.list { width:990px; height:250px; margin:0 auto; background:url(../images/莎士丹_188.jpg) no-repeat;}
	.list .one { width:594px; height:250px; float:left; }
	.list .one ul .A { font-size:19px; margin-top:32px; margin-left:46px;  margin-bottom:10px;}
	.list .one ul {  overflow:hidden;}
	.list .one ul .B {  color:#777777; margin-left:58px; cursor:pointer; }
	.list .one ul .B a { color:#777777; }
	.list .one ul .B a:hover { color:#fff;} 
	.list .one ul { float:left; width:145px; height:249px;}
	.list .two { width:170px; height:250px; float:left; color:#b1b1b2;}
	.list .two ul .ontent1 { width:166px; height:250px; height:80px; background:url(../images/莎士丹_k1.jpg) no-repeat; margin-top:16px; margin-left:8px;}
	.list .two ul .content2 { width:166px; margin-top:20px; margin-bottom:8px;margin-left:20px;}
	.list .two ul .con { width:166px; margin-left:20px;}
	.list .three { width:173px; height:226px; float:right; padding-top:10px;}
	/*list*/
	/*logo_emp*/
	.logo_emp { width:100%; height:98px;}
	.logo_emp div { width:990px; height:98px; margin:0 auto; background:url(../images/莎士丹_t1.jpg) no-repeat center;}
	/*logo_emp*/
	/*sale*/
	.sale { width:990px; height:608px; margin:0 auto; background-color:#fff;}
	.sale .part1 { width:294px; height:608px; float:left; cursor:pointer;}
	.sale .part2 { width:223px; height:608px; float:left; cursor:pointer;}
	.sale .emp { width:8px; height:608px; float:left;}
	/*sale*/	
	/*emp_last*/
	.emp_last { width:990px; height:44px; margin:0 auto; background-color:#fff;}
	/*emp_last*/
	/*footer*/
	.footer { width:1920px; height:168px; overflow:hidden; border-top:8px solid #000000; margin:0 auto;}
	.footer div { width:990px; height:160px; overflow:hidden; margin:0 auto; }
	.footer div .part1 { width:304px; height:160px; float:left; margin-top:34px; }
	.footer div .part2 { width:276px; height:160px; float:left; margin-top:52px; }
	.footer div .part2 ul li { float:left;}
	.footer div .part3 { width:410px; height:160px; float:left; margin-top:23px; color:#6d523d; }
	.footer div .part3 .one li { width:82px; height:60px; float:left; text-align:center; cursor:pointer; }
	.footer div .part3 .one li a { color:#6d523d;}
	.footer div .part3 .one li a:hover { color:#fff;}
	.footer div .part3 .two { width:412px; height:76px; background:url(../images/莎士丹_fot.jpg) no-repeat; margin-top:66px;}
	.footer div .part3 .two .A { margin-left:47px;}
	.footer div .part3 .two .B { margin-left:47px;}	
	/*footer*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	